<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_GoBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 590}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 590}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{170, 220}, {300, 298}}</string>
			<key>spriteOffset</key>
			<string>{0, 111}</string>
			<key>spriteSize</key>
			<string>{300, 298}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 310}, {300, 298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{173, 217}, {292, 306}}</string>
			<key>spriteOffset</key>
			<string>{-1, 110}</string>
			<key>spriteSize</key>
			<string>{292, 306}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 308}, {292, 306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 214}, {436, 312}}</string>
			<key>spriteOffset</key>
			<string>{-69, 110}</string>
			<key>spriteSize</key>
			<string>{436, 312}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 0}, {436, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{170, 216}, {298, 304}}</string>
			<key>spriteOffset</key>
			<string>{-1, 112}</string>
			<key>spriteSize</key>
			<string>{298, 304}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 314}, {298, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{165, 217}, {312, 308}}</string>
			<key>spriteOffset</key>
			<string>{1, 109}</string>
			<key>spriteSize</key>
			<string>{312, 308}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 0}, {312, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{167, 212}, {306, 306}}</string>
			<key>spriteOffset</key>
			<string>{0, 115}</string>
			<key>spriteSize</key>
			<string>{306, 306}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 0}, {306, 306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelGroup_Back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 174}, {388, 588}}</string>
			<key>spriteOffset</key>
			<string>{-2, 12}</string>
			<key>spriteSize</key>
			<string>{388, 588}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {388, 588}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 590}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 590}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_PageDot_L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 13}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 610}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_PageDot_S.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 314}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>chooseIslandSprite2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>