<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AniIcon_Icon1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 242}, {60, 66}}</string>
			<key>spriteOffset</key>
			<string>{-99, -35}</string>
			<key>spriteSize</key>
			<string>{60, 66}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 387}, {60, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon1_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 238}, {60, 66}}</string>
			<key>spriteOffset</key>
			<string>{-99, -31}</string>
			<key>spriteSize</key>
			<string>{60, 66}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 387}, {60, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{236, 305}, {62, 68}}</string>
			<key>spriteOffset</key>
			<string>{107, -99}</string>
			<key>spriteSize</key>
			<string>{62, 68}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 387}, {62, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon2_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{236, 301}, {62, 68}}</string>
			<key>spriteOffset</key>
			<string>{107, -95}</string>
			<key>spriteSize</key>
			<string>{62, 68}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 387}, {62, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 371}, {60, 64}}</string>
			<key>spriteOffset</key>
			<string>{-101, -163}</string>
			<key>spriteSize</key>
			<string>{60, 64}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 195}, {60, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon3_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 368}, {60, 64}}</string>
			<key>spriteOffset</key>
			<string>{-101, -160}</string>
			<key>spriteSize</key>
			<string>{60, 64}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 262}, {60, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon4_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{240, 245}, {52, 62}}</string>
			<key>spriteOffset</key>
			<string>{106, -36}</string>
			<key>spriteSize</key>
			<string>{52, 62}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 261}, {52, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon4_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{240, 241}, {52, 62}}</string>
			<key>spriteOffset</key>
			<string>{106, -32}</string>
			<key>spriteSize</key>
			<string>{52, 62}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 261}, {52, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 306}, {56, 66}}</string>
			<key>spriteOffset</key>
			<string>{-101, -99}</string>
			<key>spriteSize</key>
			<string>{56, 66}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 387}, {56, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon5_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 303}, {54, 64}}</string>
			<key>spriteOffset</key>
			<string>{-102, -95}</string>
			<key>spriteSize</key>
			<string>{54, 64}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 195}, {54, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon6_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{233, 375}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{102, -164}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 384}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon6_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{233, 371}, {58, 60}}</string>
			<key>spriteOffset</key>
			<string>{102, -161}</string>
			<key>spriteSize</key>
			<string>{58, 60}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 195}, {58, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Bluetooth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 456}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Bluetooth_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 49}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Credits.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 457}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_CreditsList.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 458}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_CreditsList_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 361}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Credits_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{866, 361}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_FullVersion.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 250}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_FullVersion_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{679, 423}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{971, 2}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 2}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LeaderBoard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 2}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LeaderBoard_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 458}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NetworkMode.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 440}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NetworkMode_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 195}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_OneDevice.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 367}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_OneDevice_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 384}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoloMode.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 312}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoloMode_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 256}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 458}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 457}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_TwoPlayers.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 329}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_TwoPlayers_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 306}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {255, 190}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{255, 190}</string>
			<key>spriteSourceSize</key>
			<string>{275, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 195}, {255, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {255, 190}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{255, 190}</string>
			<key>spriteSourceSize</key>
			<string>{275, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {255, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {255, 190}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{255, 190}</string>
			<key>spriteSourceSize</key>
			<string>{275, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 2}, {255, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>MainMenuSprites2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-</string>
			<key>textureFileName</key>
			<string>MainMenuSprites2_-</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>MainMenuSprites2_-</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>