<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_Bluetooth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 307}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Bluetooth_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 196}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Credits.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 418}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Credits_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 418}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Facebook.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{54, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 446}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_FullVersion.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 335}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_FullVersion_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 113}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 318}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 418}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NetworkMode.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 251}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NetworkMode_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 169}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_OneDevice.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 362}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_OneDevice_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 58}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_RateUs.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 365}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_RateUs_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 271}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoloMode.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 391}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoloMode_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, 44}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 2}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 412}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 224}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Twitter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{54, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 418}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_TwoPlayers.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 224}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_TwoPlayers_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 98}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -40}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{261, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 280}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {255, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{255, 190}</string>
			<key>spriteSourceSize</key>
			<string>{275, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {255, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>MainMenuSprites2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-</string>
			<key>textureFileName</key>
			<string>-</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>