<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AniIcon_Icon1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{217, 1031}, {256, 282}}</string>
			<key>spriteOffset</key>
			<string>{-423, -148}</string>
			<key>spriteSize</key>
			<string>{256, 282}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1361, 298}, {256, 282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon1_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{217, 1015}, {256, 282}}</string>
			<key>spriteOffset</key>
			<string>{-423, -132}</string>
			<key>spriteSize</key>
			<string>{256, 282}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 298}, {256, 282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1094, 1304}, {262, 288}}</string>
			<key>spriteOffset</key>
			<string>{457, -424}</string>
			<key>spriteSize</key>
			<string>{262, 288}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 5}, {262, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon2_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1094, 1288}, {262, 288}}</string>
			<key>spriteOffset</key>
			<string>{457, -408}</string>
			<key>spriteSize</key>
			<string>{262, 288}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1367, 5}, {262, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{210, 1587}, {248, 272}}</string>
			<key>spriteOffset</key>
			<string>{-434, -699}</string>
			<key>spriteSize</key>
			<string>{248, 272}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 585}, {248, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon3_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{210, 1571}, {248, 272}}</string>
			<key>spriteOffset</key>
			<string>{-434, -683}</string>
			<key>spriteSize</key>
			<string>{248, 272}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1622, 567}, {248, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon4_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1109, 1045}, {218, 264}}</string>
			<key>spriteOffset</key>
			<string>{450, -153}</string>
			<key>spriteSize</key>
			<string>{218, 264}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1606, 844}, {218, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon4_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1109, 1029}, {218, 264}}</string>
			<key>spriteOffset</key>
			<string>{450, -137}</string>
			<key>spriteSize</key>
			<string>{218, 264}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 862}, {218, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{218, 1307}, {230, 276}}</string>
			<key>spriteOffset</key>
			<string>{-435, -421}</string>
			<key>spriteSize</key>
			<string>{230, 276}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1634, 286}, {230, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon5_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{218, 1291}, {230, 276}}</string>
			<key>spriteOffset</key>
			<string>{-435, -405}</string>
			<key>spriteSize</key>
			<string>{230, 276}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1634, 5}, {230, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon6_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1079, 1601}, {248, 248}}</string>
			<key>spriteOffset</key>
			<string>{435, -701}</string>
			<key>spriteSize</key>
			<string>{248, 248}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1353, 838}, {248, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AniIcon_Icon6_1_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1079, 1585}, {248, 248}}</string>
			<key>spriteOffset</key>
			<string>{435, -685}</string>
			<key>spriteSize</key>
			<string>{248, 248}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1353, 585}, {248, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Bluetooth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 1131}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Bluetooth_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2037, 1270}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Credits.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1342, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_CreditsList.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{769, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_CreditsList_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Credits_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_FullVersion.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 1358}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_FullVersion_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2812, 816}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{960, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_GoBack_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3749, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LeaderBoard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LeaderBoard_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1151, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MainMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{318, 738}, {932, 223}}</string>
			<key>spriteOffset</key>
			<string>{16, -254}</string>
			<key>spriteSize</key>
			<string>{932, 223}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 1191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1627}, {932, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MainMenu_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{318, 738}, {932, 223}}</string>
			<key>spriteOffset</key>
			<string>{16, -254}</string>
			<key>spriteSize</key>
			<string>{932, 223}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 1191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 1627}, {932, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NetworkMode.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1915, 1812}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NetworkMode_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1875, 816}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_OneDevice.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 61}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, 189}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2816, 1043}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_OneDevice_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 61}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, 189}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2974, 1270}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_RateUs.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1724, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_RateUs_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoloMode.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 61}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, 189}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2974, 423}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoloMode_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 61}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, 189}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1879, 1585}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1533, 1855}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2974, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_TwoPlayers.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2816, 1497}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_TwoPlayers_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2974, 196}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 22}, {1090, 806}}</string>
			<key>spriteOffset</key>
			<string>{-3, 10}</string>
			<key>spriteSize</key>
			<string>{1090, 806}</string>
			<key>spriteSourceSize</key>
			<string>{1176, 870}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 5}, {1090, 806}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 22}, {1090, 806}}</string>
			<key>spriteOffset</key>
			<string>{-3, 10}</string>
			<key>spriteSize</key>
			<string>{1090, 806}</string>
			<key>spriteSourceSize</key>
			<string>{1176, 870}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 816}, {1090, 806}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_MainLogo_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 22}, {1090, 806}}</string>
			<key>spriteOffset</key>
			<string>{-3, 10}</string>
			<key>spriteSize</key>
			<string>{1090, 806}</string>
			<key>spriteSourceSize</key>
			<string>{1176, 870}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1879, 5}, {1090, 806}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>name</key>
		<string>MainMenuSprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-ipadhd</string>
			<key>textureFileName</key>
			<string>MainMenuSprites_-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>MainMenuSprites_-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>