<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_HTP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 288}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_HTP_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 294}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 286}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 341}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 247}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 269}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 222}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 333}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{34, 32}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 460}, {34, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{34, 32}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 459}, {34, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{34, 32}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 463}, {34, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 460}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 22}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{9, 4}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 42}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 21}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{-2, 5}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 72}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 26}, {12, 14}}</string>
			<key>spriteOffset</key>
			<string>{-13, -0}</string>
			<key>spriteSize</key>
			<string>{12, 14}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 57}, {12, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 36}, {14, 12}}</string>
			<key>spriteOffset</key>
			<string>{-18, -9}</string>
			<key>spriteSize</key>
			<string>{14, 12}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 86}, {14, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 263}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 316}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 335}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 9}</string>
			<key>spriteSourceSize</key>
			<string>{39, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 495}, {37, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 80}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Bones.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {47, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 47}</string>
			<key>spriteSourceSize</key>
			<string>{49, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 197}, {47, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Box_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {28, 25}}</string>
			<key>spriteOffset</key>
			<string>{-39, 5}</string>
			<key>spriteSize</key>
			<string>{28, 25}</string>
			<key>spriteSourceSize</key>
			<string>{140, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 469}, {28, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 21}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{29, -6}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 183}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 21}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{29, -6}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 249}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 21}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{29, -6}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 247}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 21}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{29, -6}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 210}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {32, 25}}</string>
			<key>spriteOffset</key>
			<string>{-42, 6}</string>
			<key>spriteSize</key>
			<string>{32, 25}</string>
			<key>spriteSourceSize</key>
			<string>{140, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 413}, {32, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {15, 15}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 116}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 27}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{-19, -8}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 159}, {32, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 25}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{-18, -10}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 388}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 15}, {58, 50}}</string>
			<key>spriteOffset</key>
			<string>{-16, -7}</string>
			<key>spriteSize</key>
			<string>{58, 50}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 42}, {58, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 14}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{-19, -6}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 94}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 19}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -8}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 82}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Fog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 127}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Fog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 15}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 140}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Fog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {58, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{58, 54}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 102}, {58, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_GreenLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {37, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 11}</string>
			<key>spriteSourceSize</key>
			<string>{39, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 494}, {37, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_HelpLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {40, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 5}</string>
			<key>spriteSourceSize</key>
			<string>{42, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 360}, {40, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_ItemBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {138, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{138, 37}</string>
			<key>spriteSourceSize</key>
			<string>{140, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {138, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_LevelNumber.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{122, 23}, {86, 39}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{86, 39}</string>
			<key>spriteSourceSize</key>
			<string>{320, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 2}, {86, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {41, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{41, 39}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 379}, {41, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {41, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{41, 39}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 380}, {41, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {30, 21}}</string>
			<key>spriteOffset</key>
			<string>{-40, 8}</string>
			<key>spriteSize</key>
			<string>{30, 21}</string>
			<key>spriteSourceSize</key>
			<string>{140, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 436}, {30, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 307}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 351}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 219}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 9}</string>
			<key>spriteSourceSize</key>
			<string>{39, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 495}, {37, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 42}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {49, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{49, 47}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113, 159}, {49, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{61, 146}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {49, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{49, 47}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 196}, {49, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {36, 35}}</string>
			<key>spriteOffset</key>
			<string>{-36, 8}</string>
			<key>spriteSize</key>
			<string>{36, 35}</string>
			<key>spriteSourceSize</key>
			<string>{140, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 463}, {36, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Skull.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 18}, {40, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{40, 38}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 420}, {40, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Skull_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {28, 27}}</string>
			<key>spriteOffset</key>
			<string>{-40, 5}</string>
			<key>spriteSize</key>
			<string>{28, 27}</string>
			<key>spriteSourceSize</key>
			<string>{140, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 441}, {28, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 426}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 18}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{45, 421}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 15}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 395}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 11}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 368}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {60, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{60, 36}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 42}, {60, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TextBlue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 26}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TextOrange.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 2}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TmapBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {52, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 49}, {52, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Tmap_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{-12, -0}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{227, 360}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Tmap_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 3}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{12, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 188}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TileGraphic_Dot_Red.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 19}, {16, 14}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{52, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 100}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>spriteSheet2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-</string>
			<key>textureFileName</key>
			<string>spriteSheet2_-</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>spriteSheet2_-</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>