<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_Menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {136, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{136, 71}</string>
			<key>spriteSourceSize</key>
			<string>{152, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 196}, {136, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {136, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{136, 71}</string>
			<key>spriteSourceSize</key>
			<string>{152, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 120}, {136, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {136, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{136, 71}</string>
			<key>spriteSourceSize</key>
			<string>{152, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 272}, {136, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {136, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{136, 71}</string>
			<key>spriteSourceSize</key>
			<string>{152, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 348}, {136, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 414}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 83}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{138, 46}, {23, 25}}</string>
			<key>spriteOffset</key>
			<string>{17, 8}</string>
			<key>spriteSize</key>
			<string>{23, 25}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 177}, {23, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 44}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{-5, 11}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 177}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 53}, {23, 25}}</string>
			<key>spriteOffset</key>
			<string>{-26, 1}</string>
			<key>spriteSize</key>
			<string>{23, 25}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 192}, {23, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 73}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{-37, -18}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 192}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{105, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 508}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{105, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{333, 207}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{105, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 177}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {75, 19}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{75, 19}</string>
			<key>spriteSourceSize</key>
			<string>{79, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 120}, {75, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {121, 123}}</string>
			<key>spriteOffset</key>
			<string>{-5, 5}</string>
			<key>spriteSize</key>
			<string>{121, 123}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 552}, {121, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{144, 43}, {93, 73}}</string>
			<key>spriteOffset</key>
			<string>{58, -13}</string>
			<key>spriteSize</key>
			<string>{93, 73}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 5}, {93, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{145, 42}, {93, 73}}</string>
			<key>spriteOffset</key>
			<string>{59, -12}</string>
			<key>spriteSize</key>
			<string>{93, 73}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{383, 5}, {93, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{144, 43}, {93, 73}}</string>
			<key>spriteOffset</key>
			<string>{58, -13}</string>
			<key>spriteSize</key>
			<string>{93, 73}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 526}, {93, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{145, 42}, {93, 73}}</string>
			<key>spriteOffset</key>
			<string>{59, -12}</string>
			<key>spriteSize</key>
			<string>{93, 73}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 596}, {93, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Captain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 784}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Captain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {47, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 52}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 784}, {47, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 83}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 56}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{-38, -16}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 784}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 51}, {81, 71}}</string>
			<key>spriteOffset</key>
			<string>{-36, -20}</string>
			<key>spriteSize</key>
			<string>{81, 71}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 604}, {81, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 30}, {117, 99}}</string>
			<key>spriteOffset</key>
			<string>{-32, -13}</string>
			<key>spriteSize</key>
			<string>{117, 99}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 680}, {117, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 28}, {113, 99}}</string>
			<key>spriteOffset</key>
			<string>{-38, -11}</string>
			<key>spriteSize</key>
			<string>{113, 99}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 680}, {113, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 40}, {101, 85}}</string>
			<key>spriteOffset</key>
			<string>{-36, -16}</string>
			<key>spriteSize</key>
			<string>{101, 85}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 324}, {101, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_GreenLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {75, 19}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{75, 19}</string>
			<key>spriteSourceSize</key>
			<string>{79, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 144}, {75, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_HelpLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {80, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{80, 11}</string>
			<key>spriteSourceSize</key>
			<string>{84, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 222}, {80, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_ItemBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {275, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{275, 110}</string>
			<key>spriteSourceSize</key>
			<string>{281, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 5}, {275, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 22}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{65, 69}</string>
			<key>spriteSourceSize</key>
			<string>{103, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 784}, {65, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 23}, {71, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{71, 71}</string>
			<key>spriteSourceSize</key>
			<string>{103, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 596}, {71, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{105, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 410}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{105, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 508}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{105, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 295}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {75, 19}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{75, 19}</string>
			<key>spriteSourceSize</key>
			<string>{79, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 168}, {75, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {121, 123}}</string>
			<key>spriteOffset</key>
			<string>{-5, 5}</string>
			<key>spriteSize</key>
			<string>{121, 123}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 424}, {121, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Sailor_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{35, 44}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 672}, {35, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Sailor_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {35, 46}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{35, 46}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 748}, {35, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {97, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{97, 97}</string>
			<key>spriteSourceSize</key>
			<string>{103, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 222}, {97, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {99, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 97}</string>
			<key>spriteSourceSize</key>
			<string>{103, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 424}, {99, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {99, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 97}</string>
			<key>spriteSourceSize</key>
			<string>{103, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 120}, {99, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 39}, {79, 69}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 674}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 35}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 83}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 31}, {79, 77}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{79, 77}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 238}, {79, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 23}, {79, 85}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{79, 85}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 320}, {79, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 51}, {73, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{73, 43}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 748}, {73, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>spriteSheet2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>