<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_HTP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1205, 196}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_HTP_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1171}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{955, 766}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1014, 196}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1389, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1007, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1198, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1014, 387}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 36}, {136, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{136, 138}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{761, 1285}, {136, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 27}, {136, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{136, 138}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 1258}, {136, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 17}, {136, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{136, 138}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 1412}, {136, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Arrow_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 7}, {136, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{136, 138}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1462}, {136, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{296, 100}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{37, 17}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 426}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{249, 94}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{-10, 23}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 372}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{205, 114}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{-54, 3}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 948}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{180, 156}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{-79, -39}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 480}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 1136}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1145, 578}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1205, 387}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {165, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{165, 45}</string>
			<key>spriteSourceSize</key>
			<string>{169, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 1362}, {165, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 26}, {244, 244}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{244, 244}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 372}, {244, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Bones.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {196, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 202}</string>
			<key>spriteSourceSize</key>
			<string>{212, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 5}, {196, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Box_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 49}, {114, 98}}</string>
			<key>spriteOffset</key>
			<string>{-170, 24}</string>
			<key>spriteSize</key>
			<string>{114, 98}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{715, 1435}, {114, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{309, 93}, {198, 151}}</string>
			<key>spriteOffset</key>
			<string>{125, -27}</string>
			<key>spriteSize</key>
			<string>{198, 151}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1015}, {198, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{310, 91}, {196, 153}}</string>
			<key>spriteOffset</key>
			<string>{125, -26}</string>
			<key>spriteSize</key>
			<string>{196, 153}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 621}, {196, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{309, 93}, {198, 151}}</string>
			<key>spriteOffset</key>
			<string>{125, -27}</string>
			<key>spriteSize</key>
			<string>{198, 151}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 948}, {198, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{310, 91}, {196, 153}}</string>
			<key>spriteOffset</key>
			<string>{125, -26}</string>
			<key>spriteSize</key>
			<string>{196, 153}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 1015}, {196, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 46}, {134, 102}}</string>
			<key>spriteOffset</key>
			<string>{-181, 25}</string>
			<key>spriteSize</key>
			<string>{134, 102}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 1401}, {134, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 16}, {57, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{57, 57}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 1013}, {57, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{137, 120}, {128, 109}}</string>
			<key>spriteOffset</key>
			<string>{-82, -33}</string>
			<key>spriteSize</key>
			<string>{128, 109}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 1138}, {128, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 109}, {168, 151}}</string>
			<key>spriteOffset</key>
			<string>{-78, -43}</string>
			<key>spriteSize</key>
			<string>{168, 151}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{769, 1102}, {168, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 64}, {246, 209}}</string>
			<key>spriteOffset</key>
			<string>{-69, -27}</string>
			<key>spriteSize</key>
			<string>{246, 209}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 320}, {246, 209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 61}, {238, 207}}</string>
			<key>spriteOffset</key>
			<string>{-82, -23}</string>
			<key>spriteSize</key>
			<string>{238, 207}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{505, 372}, {238, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{100, 87}, {210, 177}}</string>
			<key>spriteOffset</key>
			<string>{-78, -34}</string>
			<key>spriteSize</key>
			<string>{210, 177}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{745, 584}, {210, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Fog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 66}, {233, 225}}</string>
			<key>spriteOffset</key>
			<string>{1, 9}</string>
			<key>spriteSize</key>
			<string>{233, 225}</string>
			<key>spriteSourceSize</key>
			<string>{375, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 783}, {233, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Fog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 66}, {235, 229}}</string>
			<key>spriteOffset</key>
			<string>{3, 7}</string>
			<key>spriteSize</key>
			<string>{235, 229}</string>
			<key>spriteSourceSize</key>
			<string>{375, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{505, 584}, {235, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Fog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 67}, {237, 227}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{237, 227}</string>
			<key>spriteSourceSize</key>
			<string>{375, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 783}, {237, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_GreenLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {165, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{165, 45}</string>
			<key>spriteSourceSize</key>
			<string>{169, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1362}, {165, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_HelpLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {166, 20}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{166, 20}</string>
			<key>spriteSourceSize</key>
			<string>{180, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 164}, {166, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_ItemBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {586, 154}}</string>
			<key>spriteOffset</key>
			<string>{1, 39}</string>
			<key>spriteSize</key>
			<string>{586, 154}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 5}, {586, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_LevelNumber.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{608, 102}, {360, 155}}</string>
			<key>spriteOffset</key>
			<string>{20, -6}</string>
			<key>spriteSize</key>
			<string>{360, 155}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 347}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 212}, {360, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 47}, {167, 163}}</string>
			<key>spriteOffset</key>
			<string>{-1, -19}</string>
			<key>spriteSize</key>
			<string>{167, 163}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1135, 957}, {167, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 50}, {167, 161}}</string>
			<key>spriteOffset</key>
			<string>{-1, -21}</string>
			<key>spriteSize</key>
			<string>{167, 161}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1135, 1125}, {167, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 44}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-171, 36}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{586, 1435}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1173}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{589, 1104}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{955, 957}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {165, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{165, 45}</string>
			<key>spriteSourceSize</key>
			<string>{169, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1412}, {165, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 26}, {244, 244}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{244, 244}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 534}, {244, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {205, 203}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{205, 203}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{745, 766}, {205, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {205, 201}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{205, 201}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 5}, {205, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {207, 203}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{207, 203}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 211}, {207, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 13}, {146, 144}}</string>
			<key>spriteOffset</key>
			<string>{-156, 37}</string>
			<key>spriteSize</key>
			<string>{146, 144}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 1412}, {146, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Skull.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 79}, {167, 159}}</string>
			<key>spriteOffset</key>
			<string>{-2, -17}</string>
			<key>spriteSize</key>
			<string>{167, 159}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{801, 419}, {167, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Skull_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 46}, {114, 108}}</string>
			<key>spriteOffset</key>
			<string>{-171, 22}</string>
			<key>spriteSize</key>
			<string>{114, 108}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 1411}, {114, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 85}, {167, 145}}</string>
			<key>spriteOffset</key>
			<string>{-2, -16}</string>
			<key>spriteSize</key>
			<string>{167, 145}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{589, 1285}, {167, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 75}, {167, 155}}</string>
			<key>spriteOffset</key>
			<string>{-2, -11}</string>
			<key>spriteSize</key>
			<string>{167, 155}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 212}, {167, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 68}, {167, 161}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{167, 161}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1146, 759}, {167, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 50}, {167, 179}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{167, 179}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{973, 578}, {167, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 88}, {255, 151}}</string>
			<key>spriteOffset</key>
			<string>{4, -22}</string>
			<key>spriteSize</key>
			<string>{255, 151}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 164}, {255, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TextBlue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{99, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 1317}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TextOrange.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {89, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{89, 89}</string>
			<key>spriteSourceSize</key>
			<string>{99, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 1317}, {89, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TmapBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {224, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 125}</string>
			<key>spriteSourceSize</key>
			<string>{250, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 818}, {224, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Tmap_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {112, 121}}</string>
			<key>spriteOffset</key>
			<string>{-56, 2}</string>
			<key>spriteSize</key>
			<string>{112, 121}</string>
			<key>spriteSourceSize</key>
			<string>{250, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1043, 1291}, {112, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Tmap_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{114, 16}, {122, 123}}</string>
			<key>spriteOffset</key>
			<string>{50, -1}</string>
			<key>spriteSize</key>
			<string>{122, 123}</string>
			<key>spriteSourceSize</key>
			<string>{250, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{741, 974}, {122, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TileGraphic_Dot_Red.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 84}, {56, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 56}</string>
			<key>spriteSourceSize</key>
			<string>{224, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 1075}, {56, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>spriteSheet</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-ipadhd</string>
			<key>textureFileName</key>
			<string>spriteSheet_-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>spriteSheet_-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>