<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_Level.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 264}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_LevelPressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 264}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 388}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {152, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{152, 78}</string>
			<key>spriteSourceSize</key>
			<string>{162, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{511, 379}, {152, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {152, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{152, 78}</string>
			<key>spriteSourceSize</key>
			<string>{162, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 2}, {152, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {152, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{152, 78}</string>
			<key>spriteSourceSize</key>
			<string>{162, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 173}, {152, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {152, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{152, 78}</string>
			<key>spriteSourceSize</key>
			<string>{162, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 267}, {152, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{148, 50}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{19, 8}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 213}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 47}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{-5, 11}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 215}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{102, 57}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{-27, 1}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 213}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 77}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{-39, -19}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 215}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{112, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 93}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{112, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 235}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{112, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 289}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {78, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 20}</string>
			<key>spriteSourceSize</key>
			<string>{84, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 362}, {78, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{-6, 6}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 134}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{154, 46}, {99, 75}}</string>
			<key>spriteOffset</key>
			<string>{62, -13}</string>
			<key>spriteSize</key>
			<string>{99, 75}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{723, 81}, {99, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{155, 45}, {99, 77}}</string>
			<key>spriteOffset</key>
			<string>{63, -13}</string>
			<key>spriteSize</key>
			<string>{99, 77}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 82}, {99, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{154, 46}, {99, 75}}</string>
			<key>spriteOffset</key>
			<string>{62, -13}</string>
			<key>spriteSize</key>
			<string>{99, 75}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{815, 2}, {99, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{155, 45}, {99, 77}}</string>
			<key>spriteOffset</key>
			<string>{63, -13}</string>
			<key>spriteSize</key>
			<string>{99, 77}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{715, 2}, {99, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Captain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {49, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{49, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{718, 421}, {49, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Captain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{57, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{665, 421}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{171, 215}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 59}, {65, 55}}</string>
			<key>spriteOffset</key>
			<string>{-41, -16}</string>
			<key>spriteSize</key>
			<string>{65, 55}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 326}, {65, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 54}, {85, 75}}</string>
			<key>spriteOffset</key>
			<string>{-39, -21}</string>
			<key>spriteSize</key>
			<string>{85, 75}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{917, 2}, {85, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 32}, {123, 103}}</string>
			<key>spriteOffset</key>
			<string>{-35, -13}</string>
			<key>spriteSize</key>
			<string>{123, 103}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 2}, {123, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 30}, {119, 103}}</string>
			<key>spriteOffset</key>
			<string>{-41, -11}</string>
			<key>spriteSize</key>
			<string>{119, 103}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 109}, {119, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 43}, {105, 89}}</string>
			<key>spriteOffset</key>
			<string>{-39, -17}</string>
			<key>spriteSize</key>
			<string>{105, 89}</string>
			<key>spriteSourceSize</key>
			<string>{283, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 2}, {105, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_GreenLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {78, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 20}</string>
			<key>spriteSourceSize</key>
			<string>{84, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 213}, {78, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_HelpLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{84, 12}</string>
			<key>spriteSourceSize</key>
			<string>{90, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{171, 246}, {84, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_ItemBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {294, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{294, 116}</string>
			<key>spriteSourceSize</key>
			<string>{300, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 388}, {294, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{112, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 383}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{112, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 198}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{112, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471, 2}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {78, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 20}</string>
			<key>spriteSourceSize</key>
			<string>{84, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 362}, {78, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{-5, 5}</string>
			<key>spriteSize</key>
			<string>{130, 130}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {130, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Sailor_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 11}, {37, 46}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{37, 46}</string>
			<key>spriteSourceSize</key>
			<string>{57, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 215}, {37, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Sailor_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {37, 50}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{37, 50}</string>
			<key>spriteSourceSize</key>
			<string>{57, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{511, 459}, {37, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {101, 101}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{101, 101}</string>
			<key>spriteSourceSize</key>
			<string>{109, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 2}, {101, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {103, 101}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{103, 101}</string>
			<key>spriteSourceSize</key>
			<string>{109, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 259}, {103, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {103, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{103, 101}</string>
			<key>spriteSourceSize</key>
			<string>{109, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 109}, {103, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 42}, {85, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -8}</string>
			<key>spriteSize</key>
			<string>{85, 73}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{665, 346}, {85, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 37}, {85, 77}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{85, 77}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 93}, {85, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 34}, {85, 81}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{85, 81}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 184}, {85, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 25}, {85, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{85, 89}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 106}, {85, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>spriteSheet</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-ipad</string>
			<key>textureFileName</key>
			<string>-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>