<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_Menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {289, 150}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{289, 150}</string>
			<key>spriteSourceSize</key>
			<string>{325, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1228, 5}, {289, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Menu_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {289, 150}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{289, 150}</string>
			<key>spriteSourceSize</key>
			<string>{325, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1200, 163}, {289, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {289, 150}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{289, 150}</string>
			<key>spriteSourceSize</key>
			<string>{325, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1120, 319}, {289, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_NewGame_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {289, 150}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{289, 150}</string>
			<key>spriteSourceSize</key>
			<string>{325, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1278, 474}, {289, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 196}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_SoundOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{296, 100}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{37, 17}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{921, 367}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{249, 94}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{-10, 23}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 685}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{205, 114}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{-54, 3}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 587}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Artillery_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{180, 156}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{-79, -39}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{974, 367}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{667, 5}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 463}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 186}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {157, 39}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{157, 39}</string>
			<key>spriteSourceSize</key>
			<string>{169, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 978}, {157, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_BlueScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{-11, 12}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 268}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{309, 93}, {198, 151}}</string>
			<key>spriteOffset</key>
			<string>{125, -27}</string>
			<key>spriteSize</key>
			<string>{198, 151}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 867}, {198, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{310, 91}, {196, 153}}</string>
			<key>spriteOffset</key>
			<string>{125, -26}</string>
			<key>spriteSize</key>
			<string>{196, 153}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1117, 747}, {196, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{309, 93}, {198, 151}}</string>
			<key>spriteOffset</key>
			<string>{125, -27}</string>
			<key>spriteSize</key>
			<string>{198, 151}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{711, 867}, {198, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Cannon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{310, 91}, {196, 153}}</string>
			<key>spriteOffset</key>
			<string>{125, -26}</string>
			<key>spriteSize</key>
			<string>{196, 153}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1027, 5}, {196, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Captain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {100, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{100, 102}</string>
			<key>spriteSourceSize</key>
			<string>{114, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 419}, {100, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Captain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {100, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 108}</string>
			<key>spriteSourceSize</key>
			<string>{114, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 387}, {100, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 16}, {57, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{57, 57}</string>
			<key>spriteSourceSize</key>
			<string>{89, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 685}, {57, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{137, 120}, {128, 109}}</string>
			<key>spriteOffset</key>
			<string>{-82, -33}</string>
			<key>spriteSize</key>
			<string>{128, 109}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{525, 387}, {128, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 109}, {168, 151}}</string>
			<key>spriteOffset</key>
			<string>{-78, -43}</string>
			<key>spriteSize</key>
			<string>{168, 151}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1027, 163}, {168, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 64}, {246, 209}}</string>
			<key>spriteOffset</key>
			<string>{-69, -27}</string>
			<key>spriteSize</key>
			<string>{246, 209}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 766}, {246, 209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 61}, {238, 207}}</string>
			<key>spriteOffset</key>
			<string>{-82, -23}</string>
			<key>spriteSize</key>
			<string>{238, 207}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 766}, {238, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Explode_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{100, 87}, {210, 177}}</string>
			<key>spriteOffset</key>
			<string>{-78, -34}</string>
			<key>spriteSize</key>
			<string>{210, 177}</string>
			<key>spriteSourceSize</key>
			<string>{566, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{711, 685}, {210, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_GreenLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {157, 39}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{157, 39}</string>
			<key>spriteSourceSize</key>
			<string>{169, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 980}, {157, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_HelpLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {166, 20}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{166, 20}</string>
			<key>spriteSourceSize</key>
			<string>{180, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{491, 978}, {166, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_ItemBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {586, 232}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{586, 232}</string>
			<key>spriteSourceSize</key>
			<string>{600, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 529}, {586, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 47}, {135, 147}}</string>
			<key>spriteOffset</key>
			<string>{-5, -11}</string>
			<key>spriteSize</key>
			<string>{135, 147}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1494, 160}, {135, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Map_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 50}, {147, 147}}</string>
			<key>spriteOffset</key>
			<string>{1, -14}</string>
			<key>spriteSize</key>
			<string>{147, 147}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1414, 318}, {147, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 5}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{667, 186}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeBox_Break2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {175, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 176}</string>
			<key>spriteSourceSize</key>
			<string>{225, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{926, 644}, {175, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {157, 39}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{157, 39}</string>
			<key>spriteSourceSize</key>
			<string>{169, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 980}, {157, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_OrangeScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {256, 258}}</string>
			<key>spriteOffset</key>
			<string>{-11, 11}</string>
			<key>spriteSize</key>
			<string>{256, 258}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 5}, {256, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Sailor_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 21}, {72, 92}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{72, 92}</string>
			<key>spriteSourceSize</key>
			<string>{114, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 419}, {72, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Sailor_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {72, 98}}</string>
			<key>spriteOffset</key>
			<string>{-7, -4}</string>
			<key>spriteSize</key>
			<string>{72, 98}</string>
			<key>spriteSourceSize</key>
			<string>{114, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 419}, {72, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {205, 203}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{205, 203}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 5}, {205, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {205, 201}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{205, 201}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 213}, {205, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_Ship_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {207, 203}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{207, 203}</string>
			<key>spriteSourceSize</key>
			<string>{219, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{499, 766}, {207, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 85}, {167, 145}}</string>
			<key>spriteOffset</key>
			<string>{-2, -16}</string>
			<key>spriteSize</key>
			<string>{167, 145}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1522, 5}, {167, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 75}, {167, 155}}</string>
			<key>spriteOffset</key>
			<string>{-2, -11}</string>
			<key>spriteSize</key>
			<string>{167, 155}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1106, 587}, {167, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 68}, {167, 161}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{167, 161}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 421}, {167, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 50}, {167, 179}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{167, 179}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 501}, {167, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_TBox_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 109}, {153, 91}}</string>
			<key>spriteOffset</key>
			<string>{-2, -13}</string>
			<key>spriteSize</key>
			<string>{153, 91}</string>
			<key>spriteSourceSize</key>
			<string>{283, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{763, 367}, {153, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>spriteSheet</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-ipadhd</string>
			<key>textureFileName</key>
			<string>-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>