<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_GoBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {186, 186}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 186}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1226, 5}, {186, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Upgrade.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1219}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Upgrade_Pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 419}, {932, 222}}</string>
			<key>spriteOffset</key>
			<string>{3, -169}</string>
			<key>spriteSize</key>
			<string>{932, 222}</string>
			<key>spriteSourceSize</key>
			<string>{1116, 722}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 1219}, {932, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_CaptainL_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{200, 909}, {1118, 182}}</string>
			<key>spriteOffset</key>
			<string>{-9, 24}</string>
			<key>spriteSize</key>
			<string>{1118, 182}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1645}, {1118, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_CaptainL_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{200, 898}, {1118, 194}}</string>
			<key>spriteOffset</key>
			<string>{-9, 29}</string>
			<key>spriteSize</key>
			<string>{1118, 194}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1446}, {1118, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_FullVersionText.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{163, 968}, {1216, 444}}</string>
			<key>spriteOffset</key>
			<string>{3, -166}</string>
			<key>spriteSize</key>
			<string>{1216, 444}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 5}, {1216, 444}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Graphic_ScreenShots.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{169, 333}, {1196, 760}}</string>
			<key>spriteOffset</key>
			<string>{-1, 311}</string>
			<key>spriteSize</key>
			<string>{1196, 760}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 454}, {1196, 760}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>upgradeSprite</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-ipadhd</string>
			<key>textureFileName</key>
			<string>-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>